/* Resetar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flex Box */

.flex-container {
    background-color:#b2e2f2;
    width: 400px;
    height: 900px;

    /* aplicar o flex box */
    display: flex; 
}

.flex-item {
    /* Sem definir o tamanho é stretch - vai arreganhar obedecendo a direcao do eixo*/
    /* width: 100px; */
    /* correto é definir o tamanho dos items pelo flex-basis (tornando o width desnecessario) */
    /* flex-basis: 100px; */
    height: 100px;
    flex-grow: 1;



    /* flex-shrink: 1; padrao */
}

.primeiro {
    background-color: #fabfb7;
    /* flex-grow: 3; */
}

.segundo {
    background-color: #fdf9c4;
    /* flex-shrink: 4; */
}

.terceiro {
    background-color: #ffda9e;
}

.quarto {
    background-color: #c5c6c8;
}

/* .flex-container-span {
    background-color:bisque;
    display: flex;
    height: 300px;
} */
